<form [formGroup]="bookForm" (ngSubmit)="book()" >
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class="col-3">
        <input class="form-control-plaintext fs-4" readonly type="text" [value]="time | date: 'shortTime'">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input 
          type="text" 
          class="form-control" 
          [value]="clientName" 
          formControlName="clientName" 
          placeholder="Name" 
          [class.is-invalid]="bookForm.get('clientName')?.errors && bookForm.get('clientName')?.touched"
        >
        <div *ngIf="bookForm.get('clientName')?.hasError('required')" class="invalid-feedback">Please enter a username</div>
        <div *ngIf="bookForm.get('clientName')?.hasError('minlength')" class="invalid-feedback">Name must be at least 3 characters</div>
        <div *ngIf="bookForm.get('clientName')?.hasError('maxlength')" class="invalid-feedback">Name must be at most 30 characters </div>
      </div>
    </div>
  </div>
  @if (validationError) {
    <div class="row">
      <div class="col">
        <div class="alert alert-danger">
          {{validationError}}
          <!-- <ul>
            @for (error of validationError; track $index) {
              <li>{{error}}</li>
            }
          </ul> -->
        </div>
      </div>
    </div>
  }
  <div class="modal-footer">
    <button [disabled]="!bookForm.valid" type="submit" class="btn btn-primary">Book</button>
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  </div>
</form>