<div class="container text-center bg-white rounded-3 shadow">
  <div class="row justify-content-center">
    <div class="col">
      <input type="hidden" name="date"/>
      <app-calendar (dateChanged)="loadAvailable($event)" ></app-calendar>
      <!-- <bs-datepicker-inline [bsConfig]="datePickerConfig" [(bsValue)]="selectedDate" (bsValueChange)="onDateChange($event)"></bs-datepicker-inline> -->
    </div>
  </div>
  <div class="row py-4">
    @for (item of freeSlots; track $index) {
      <div class=" col-sm-4 col-md-3 col-6">
        <button type="button" class="btn btn-outline-secondary text-nowrap m-1" (click)="openModal(item)">
          {{item.date | date: 'shortTime':'UTC+02:00'}}
        </button> 
      </div>
    }
  </div>
</div>