<nav class="navbar navbar-expand-md bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">The Barber</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" 
        data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" 
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse mt-2" id="navbarSupportedContent">
      @if(!accountService.currentUser()){
      <form class="d-flex flex-md-row flex-column align-items-end ms-auto" (ngSubmit)="login()">
        <input class="form-control me-md-2 my-1" name="username" [(ngModel)]="authentication.username"
          placeholder="Username">
        <input class="form-control me-md-2 my-1" name="password" [(ngModel)]="authentication.password" type="password"
          placeholder="Password">
        <button class="btn btn-outline-success my-1 mx-1" type="submit">Login</button>
        <button class="btn btn-outline-secondary my-1 mx-1" type="button" routerLink="/register">Register</button>
      </form>
      }@else {
        <div class="container-fluid">
          <div class="d-flex flex-md-row flex-column align-items-md-start align-items-end">
            <ul class="navbar-nav">
              <li class="nav-item"><a routerLink="/my-appointments" class="nav-link">My appointments</a></li>
            </ul>
            <ul *appHasRole="['Admin', 'Moderator']" class="navbar-nav">
              <li class="nav-item"><a routerLink="/schedule" class="nav-link">Schedule</a></li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a href="" class="nav-link" (click)="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      }
    </div>
  </div>
</nav>