<form>
  <div class="container text-center bg-white rounded-3 shadow">
      <div class="row justify-content-center">
          <div class="col">
            <input type="hidden" name="date" [ngModel]="selectedDate()">
              <bs-datepicker-inline [bsConfig]="datePickerConfig" [bsValue]="initDate" (bsValueChange)="onDateChange($event)"></bs-datepicker-inline>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <app-time></app-time>
        </div>
      </div>
      <app-appointments-list></app-appointments-list>    
  </div>
</form>


 
