<div class="container-md pb-3">
  <table class="table">
    <thead>
      <tr class="row justify-content-center">
        <th scope="col" class="col-md-2">Time</th>
        <th scope="col" class="col-md-3">Name</th>
      </tr>
    </thead>
    <tbody>
      @for(item of schedule;track $index ){
          <tr class="row justify-content-center">
            <th scope="row" class="col-md-2">{{item.date| date: 'shortTime'}}</th>
            <td class="col-md-3">{{item.clientName}}</td>
          </tr>
      }
    </tbody>
  </table>
</div>