<div class="modal-header">
    <h4 class="modal-title pull-left"><input class="form-control-plaintext fs-4" readonly type="text" [value]="appointment?.date| date: 'medium'"></h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hideModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
    <div class="col">
        <p>Do you want to delete your appointment?</p>
    </div>
    </div>

</div>
@if (error) {
    <div class="row">
        <div class="col">
            <div class="alert alert-danger">
            {{error}}
            <!-- <ul>
                @for (error of validationError; track $index) {
                <li>{{error}}</li>
                }
            </ul> -->
            </div>
        </div>
    </div>
}


<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="cancelAppointment()">Cancel</button>
    <button type="button" class="btn btn-secondary" (click)="hideModal()">Close</button>
</div>
